.aa-nav{
  padding-top: 10px;
  height: 80px;
}
.aa-l{
  float: left;
}
.aa-r{
  float:right;
}
.do-logo{
  width: 200px;
}
.aa-mt20{
  margin-top: 20px;
}
.aa-blue{
  color: #0167ff;
}

.aa-border{
  border-color: #0167ff;
}

.nav-hor > li{
  display: inline-block;
  padding-left: 20px;
  font-size: 16px;
  line-height: 80px;
  font-weight: bold;
}
.aa-jb-bg{
  background-image: url(../img/ocean.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.aa-jb-left{
  color: #fff;
  font-size: 30px;
}
.aa-jb-left h1{
  font-size: 45px;
}
.aa-form{
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}
.aa-form h2{
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;
}
.aa-form p:first-of-type{
  font-size: 30px;
  color: #0167ff;
  font-weight: bold;
}
.aa-fwidth{
  width: 95%;
  margin: 0 auto;
  padding: 5px 0;
}
.aa-form p:last-child{
  font-size: 10px;
  padding: 50px 0;
}
.aa-loghi{
  background-color: #f3f5f9;
  color: #0167ff;
}
.aa-loghi img{
  vertical-align: middle;
  max-width: 100%;
}
.aa-dtitle{
  text-align: center;
  font-weight: bold;
}
.aa-dtitle p{
  margin: 20px;
}
.aa-deploy ul {
  list-style-type: none;
  border-left: 3px solid #aaa;
}
.aa-deploy li{
  padding-bottom: 25px;
}
.aa-carousel{
  background-color: #f3f5f9;
  text-align: center;
  width: 100%;
}
.aa-carousel img{
  padding: 20px 0;
}
.aa-carousel span{
  font-size: 50px;
  vertical-align: middle;
  padding: 0 15px;
}
.aa-carousel span:hover{
  opacity: 0.5;
}
.aa-pallina{
  width: 10px;
  height: 10px;
  border: 1px solid #0167ff;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}
.aa-pallina:hover{
  background-color: #0167ff;
}
.aa-features{
  margin: 50px 0;
}
.aa-features [class*="xs"]{
  margin-bottom: 20px;
}
.aa-regions{
  background-color: #0025a0;
  color: #fff;
  padding: 50px 60px;
}
.aa-regions ul{
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}
.aa-regions li{
  display: inline-block;
}
.aa-regions li:first-child{
  width: 100px;
  text-transform: uppercase;
}
.aa-regions li:nth-child(3){
  padding-right: 20px;
}
.aa-sample{
  width: 60%;
}
.aa-regions:last-of-type button{
  color: #0167ff;
}
footer{
  background-color: #031c4e;
  color: #aaa;
  font-size: 14px;
  padding: 50px 0;
}
footer i{
  padding-right: 15px;
}
footer ul{
  list-style: none;
  padding: 20px 0;
}
footer li{
  padding: 5px 0;
}
footer li:first-child{
  color:#fff;
  font-weight: bold;
}
/* MEDIA QUERY */
@media screen and (max-width:768px) {
  .aa-loghi img{
    width: 40%;
    margin-bottom: 70px;
    margin-right: 10px;
  }
  .aa-carousel img{
    width: 80%;
  }



}
@media screen and (min-width:768px) {
  .aa-loghi img{
    width: 13%;
    margin-bottom: 20px;
  }


}
